<div class="container">
<form (submit)="repoSearch()">
    <div class="mb-3">
      <label for="Repository name" class="form-label">Repository Name</label>
      <input [formControl]="repos" type="text" class="form-control" id="reponame" aria-describedby="repository">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
<div class="container">
  <ul *ngFor="let repo of repo">
    <li>
      <a href="{{ repo.html_url}}">{{ repo.full_name }}</a>
      <p> Created {{ repo.created_at | dayscount}} days ago. </p>
    </li>
  </ul>
</div>