.repo {
    text-align: center;
}
.repo{
    text-align: center;
}
.repo-list {
    
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(134, 139, 142, 1);
    color: rgba(238, 237, 231, 1) ;
    padding: 1em;
    width: 600px;
}