<div class="container-fluid">
<nav id="nav" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink=''><b>GitHub</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
      <div id="content" class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="users" routerLinkActive='active' >Search for Users</a>
        <a class="nav-item nav-link" routerLink="repos" routerLinkActive='active' >Search for Repos</a>
      </div>
    </div>
  </nav>
</div>