/* 
rgba(231, 210, 204, 1)
rgba(185, 183, 189, 1)
rgba(134, 139, 142, 1)
rgba(238, 237, 231, 1) 
*/
.user {
    text-align: center;
    
}
.user img {
    width: 300px;
    height: 300px;
}
.profile h5 {
    text-align: center;
}
#about-user p {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(134, 139, 142, 1);
    color: rgba(238, 237, 231, 1) ;
    padding: 1em;
}